# Dependencies
frontend/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build directories
frontend/dist/
frontend/build/

# Coverage directory
frontend/coverage/

# Editor directories and files
.DS_Store
.idea/
.vscode/

# Python artifacts
__pycache__/
*.py[cod]